{% include "partials/header.html" %}

<div class="card section">
  <h3>Choose a Quiz</h3>
  <div class="grid">
    <a class="card section" href="/quiz/cpt">
      <h4>CPT Quiz</h4>
      <p class="small">Test your CPT knowledge</p>
    </a>

    <a class="card section" href="/quiz/icd10">
      <h4>ICD-10 Quiz</h4>
      <p class="small">Practice ICD-10 coding</p>
    </a>

    <a class="card section" href="/quiz/mixed">
      <h4>Mixed Quiz</h4>
      <p class="small">CPT + ICD-10 together</p>
    </a>
  </div>
</div>

{% include "partials/footer.html" %}
